#tee-container {
  font-family: "Beau Rivage", cursive;
  /* font-family: 'Lavishly Yours', cursive;*/
  /* font-family: 'Water Brush', cursive;  */
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .binary-section {
    height: 80vh;
  }
}

@media screen and (max-width: 749px) {
  .binary-section {
    height: 80vh;
  }
}
